* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.top {
    height: 1024px;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    &__heading {
        padding-top: 217px;
        padding-bottom: 32px;
        width: 788px;
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        color: #FFFFFF;
    }
    &__text {
        width: 481px;
        padding-bottom: 44px;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
    }
    &__textbold {
        width: 481px;
        padding-bottom: 44px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
    }
}
.btn {
    width: 234.06px;
    height: 48.6px;
    left: 120px;
    top: 482.11px;
    background: #9C0332;
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.game {
    padding-top: 128px;
    padding-bottom: 128px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}
.game__item {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    width: 378px;
    height: 300px;
    display: flex;
    flex-direction: column-reverse;
}
.game__item_1 {
    background-image: url(img/game1.png);
}
.game__item_2 {
    background-image: url(img/game2.png);
}
.game__item_3 {
    background-image: url(img/game3.png);
}
.game__item_text {
    padding-left: 32px;
    padding-bottom: 32px;
}

